body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-content {
  padding: 20px;
  color: white;
}

button {
  font-size: 22px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #1061c4;
  padding: 20px 40px 20px 40px;
  color: white;
}

button:disabled {
  opacity: 0.8;
}

.close-dialog {
  background-color: transparent;
  font-size: 28px;
  padding: 5px 10px 5px 10px;
  color: #141212;
}

.cancel {
  font-size: 18px;
  background-color: #0c0102;
  padding: revert;
  height: 40px;
  color: white;
  margin-right: 10px;
}

.dialog-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.dialog{
  background-color: white;
  width: 45vw;
  height: 45vh;
  border-radius: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.dialog-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
}

.dialog-content{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.dialog-footer{
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

input {
  border: 1px solid #141212;
  width: 500px;
  border-radius: 4px;
  height: 30px;
  font-size: 18px;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  color: #141212;
}

h1 {
  font-size: 22px;
}

.ico-times:before{ content: "\2716"; color: #706868}